/*.dashboard
{*/
    /* width: '60vw',
    height: '50vh',
     border: '1px solid blue',
      margin: '100px',
    display:'flex',
     flexWrap:'wrap' */
   /*  width: 80vw;
     height: 50vh;
     border: 1px solid blue;
     margin: 80px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}*/